

        #wrapper {
            max-width: 900px;
            min-height: 500px;
            display: flex;
            margin: auto;
            color: white;
          }
          #left_pannel {
            min-height: 500px;
            background-color: #27344b;
            flex: 1;
          }
        
          #left_pannel img{
              width: 80%;
              border: solid thin;
              border-radius: 50%;
              margin: 10px;
          }